# OS
.DS_Store
Thumbs.db

# ROMs (no subir juegos)
*.gba
*.gbc
*.gb
*.nes
*.snes
*.z64
*.n64

# Node
node_modules/
npm-debug.log
yarn-error.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Temp
*.tmp
.cache/
